@font-face {
    font-family: Pragmatica;
    src: url(./../assets/fonts/Pragmatica-Medium.ttf),
        
}
@font-face {
    font-family: Pragmatica400;
    src:url(./../assets/fonts/Pragmatica-Light.ttf),
}
@font-face {
    font-family: Pragmatica200;
    src: url(./../assets/fonts/Pragmatica-ExtraLight.ttf),
}
@font-face {
    font-family: TTCommons;
    src:    url(./../assets/fonts/TTCommons-DemiBold.ttf),
           
            url(./../assets//fonts/TTCommons-Bold.ttf)
     
}
@font-face {
    font-family: TTCommons400;
    src:    url(./../assets/fonts/TTCommons-Light.ttf)
     
}